:root {
  --main-font-family: 'Roboto', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;
  --body-text-color: #434455;
  --headings-color: #2E2F42;
  --header-bg-color: #FFFFFF;
  --accent-color: #E7E9FC;
  --light-bg-color: #F4F4FD;
  --active-state-color: #4D5AE5;
  --btn-hover-color: #404BBF;
}

body {
  font-family:  var(--main-font-family);
  background-color: var(--bg-color);
  color: var(--body-text-color);

}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-inline-start: 0px;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* header */
.page-header {
  border-bottom: 1px solid var(--accent-color);
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.page-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 332px;
}

.logo {
  width: 115px;
  color: var(--active-state-color);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.span-logo {
  color: var(--headings-color);
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.menu-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--headings-color);
  padding: 24px 0px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--btn-hover-color);
}

.address-list {
  font-style: normal;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.contact-mail,
.contact-tel {
  padding: 24px 0px;
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--btn-hover-color);
}

.contact-tel:hover,
.contact-tel:focus {
  color: var(--btn-hover-color);
}

/* container */
.container {
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* hero */
.hero {
  padding: 188px 0px 188px 0px;
  background-color: var(--headings-color);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-hero.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.hero-title {
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--header-bg-color);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.order-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--active-state-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--header-bg-color);
  cursor: pointer;
  display: block;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
}

.order-btn:hover,
.order-btn:focus {
  background-color: var(--btn-hover-color);
}

/* sections */
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.overview {
  padding-bottom: 120px;
}

.team {
  background-color: var(--light-bg-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
 
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* title */
.features-title,
.overview-title,
.team-title,
.customers-title,
.projects-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings-color);
  margin-bottom: 72px;
}

/* list */
.features-list,
.overview-list,
.team-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

/* list-item */ 
.features-list-item {
  flex-basis: calc((100% - 72px) / 4); 
}

.overview-list-item {
  flex-basis: calc((100% -48px) / 3);
}

.team-list-item {
  width: calc((100% - 72px) / 4);
  background-color: var(--header-bg-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item-container {
  text-align: center;
  padding: 32px 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  margin-top: 8px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  background-color: var(--active-state-color);
}

.social-list-link:hover,
.social-list-link:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* list-item-title (text)*/
.features-list-item-title,
.team-list-item-title,
.project-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings-color);
  margin-bottom: 8px;
}

/* list-item-descr, header address(text) */
.features-list-item-descr,
.team-list-item-descr,
.project-list-item-descr,
.contact-tel,
.contact-mail {
  display: block;
  color: var(--body-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* customers */
.customers-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

.customers-list-item {
  display: flex;
  width: 168px;
  height: 88px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  padding: 16px 32px;
}

/* portfolio project-list, project-list-item */
.project-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 48px;
  column-gap: 24px;
}

.project-list-item {
  display: flex;
  width: calc((100% - 48px) / 3);
  background-color: var(--header-bg-color);
}

.project-list-item:hover,
.project-list-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-list-item-container {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}

/* portfolio filter buttons */
.filter-btn-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-btn {
  font-family: inherit;
  cursor: pointer;
  background-color: var(--light-bg-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--active-state-color);
  padding: 12px 24px;
}

.filter-btn:hover,
.filter-btn:focus {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--btn-hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--header-bg-color);
  border-radius: 4px;
  border: 1px solid transparent;
}

/* footer */
.footer {
  background-color: var(--headings-color);
  padding: 100px 0px;
}

.footer-container {
  display: flex;
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer-logo {
  width: 115px;
  color: var(--active-state-color);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}

.span-footer-logo {
  color: var(--light-bg-color);
}

.footer-advise {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-bg-color);
  margin-right: 120px;
}

.social-media {
  display: block;
}

.social-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--header-bg-color);
  margin-bottom: 16px;
}

/* hidden title */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} 